/*

Primary Color: #005ff4

*/



/* General */
body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}
a {
	text-decoration: none !important;
	outline: none !important;
}
select:focus, textarea:focus, input:focus {
  outline: none !important;
	box-shadow: none !important;
}
.vm {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.line-divider {
	height: 1px;
	background-color: #ebedf5;
	width: 100%;
}
.line-divider.line-divider-margin-right {
	margin-right: auto;
	left: 0px;
	width: calc(100% - 100px);
}



/* Forms */
.form {
	height: 100vh;
}
.form.form-no-height {
	height: auto;
}
.form .row {
	height: 100%;
}
.form .form-left {
	background-color: #fff;
	height: 100%;
	position: relative;
}
.form .form-right {
	background-color: #f4f5f7;
	height: 100%;
	position: relative;
}
.form .form-logo {
	width: 150px;
	display: inline-block;
}
.form .form-logo img {
	max-width: 100%;
}
.form .form-title {
	font-family: 'Poppins', sans-serif;
	color: #383838;
	font-size: 32px;
	line-height: 42px;
	font-weight: 500;
}
.form .form-text {
	font-family: 'Poppins', sans-serif;
	color: #585858;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
}
.form .form-text a {
	color: #005ff4;
}
.form .form-group label {
	font-family: 'Poppins', sans-serif;
	color: #383838;
	font-size: 13px;
	line-height: 23px;
	font-weight: 400;
}
.form .form-group .form-control {
	font-family: 'Poppins', sans-serif;
	color: #383838;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	background-color: #fff;
	border: 1px solid #ebedf5;
	border-radius: 0px;
	height: 45px;
	padding-left: 15px;
	padding-right: 15px;
}
.form .form-group select.form-control {
	height: 45px;
	-webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/select-chevron.svg') no-repeat calc(100% - 20px) #fff;
	background-size: 16px;
}
.form .form-group textarea.form-control {
	padding: 10px 15px !important;
	resize: none;
}
.form-list ul {
	list-style-type: none;
}
.form-list .form-list-icon {
	width: 25px;
	height: 25px;
	background-color: #5cc67d;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}
.form-list .form-list-icon span {
	color: #fff;
	font-size: 13px;
	line-height: 13px;
}
.form-list ul li {
	font-family: 'Poppins', sans-serif;
	color: #bbb;
	font-size: 12px;
	line-height: 12px;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.form .form-contact {
	position: absolute;
	bottom: 50px;
	left: 0px;
}
.form .form-control.textarea-post-subiect {
	height: 120px;
}

.post-subiect-input {
	position: relative;
	overflow: hidden;
	background-color: #f1f1f1;
	width: 100%;
	min-height: 120px;
	cursor: pointer;
}
.post-subiect-image img {
	max-width: 100%;
	height: 100%;
}
.post-subiect-input input {
  cursor: pointer;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0px;
  text-align: right;
  top: 0px;
	z-index: 1;
}
.post-subiect-input span {
	font-size: 36px;
	line-height: 36px;
	color: #888;
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
}



/* Buttons */
.btn {
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	line-height: 13px;
	border-radius: 0px;
	border: 0px;
	padding: 15px 20px;
	font-weight: 500;
}
.btn.btn-primary {
	background-color: #005ff4;
	color: #fff;
}
.btn.btn-light {
	background-color: #fff;
	color: #383838;
}



/* Badge */
.badge-c {
	display: inline-block;
	position: relative;
	height: 45px;
}
.badge-c.badge-light {
	background-color: #fff;
	color: #383838;
}
.badge-c .badge-button {
	background-color: #f1f1f1;
	position: absolute;
	width: 45px;
	height: 45px;
	right: 0px;
	top: 0px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
}
.badge-c .badge-button span {
	color: #383838;
	font-size: 20px;
	line-height: 20px;
	display: block;
}
.badge-c .invitation-input {
	height: 45px;
	width: calc(100% - 45px);
	border: 0px;
	color: #383838;
	font-size: 14px;
	line-height: 14px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
	font-weight: 500;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-left: 20px;
}



/* Navbar */
.navbar-c {
	height: 50px;
	border-bottom: 1px solid #ebedf5;
}
.navbar-c .container, .navbar-c .container .row {
	height: 100%;
}
.navbar-c .navbar-c-logo {
	width: 120px;
}
.navbar-c .navbar-c-logo img {
	max-width: 100%;
}
.navbar-c .navbar-c-links {
	height: 100%;
}
.navbar-c .navbar-c-links a {
	display: inline-block;
	height: 100%;
}
.navbar-c .navbar-c-links a span {
	font-family: 'Poppins', sans-serif;
	color: #585858;
	font-size: 13px;
	line-height: 23px;
	font-weight: 300;
}
.navbar-c .navbar-c-links a span.highlight {
	color: #005ff4;
}



/* Section */
.section {
	padding-top: 100px;
	padding-bottom: 100px;
}



/* Box */
.box.box-margin {
	margin-left: auto;
	right: 0px;
	width: calc(100% - 100px);
}
.box.box-margin-right {
	margin-right: auto;
	left: 0px;
	width: calc(100% - 100px);
}
.box.box-primary {
	background-color: #005ff4;
}
.box.box-success {
	background-color: #5cc67d;
}
.box .box-icon span {
	font-size: 32px;
	line-height: 32px;
	display: block;
}
.box .box-title {
	font-family: 'Poppins', sans-serif;
	font-size: 19px;
	line-height: 29px;
	font-weight: 500;
}
.box .box-text {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
}
.box.box-primary .box-icon span, .box.box-success .box-icon span {
	color: #fff;
}
.box.box-primary .box-title, .box.box-success .box-title {
	color: #fff;
}
.box.box-primary .box-text, .box.box-success .box-text {
	color: #fff;
}
.box.box-secondary .box-title {
	color: #383838;
}
.box.box-secondary .box-text {
	color: #585858;
}


/* Post */
.post .post-title, .post .post-title a {
	font-family: 'Poppins', sans-serif;
	color: #383838;
	font-size: 22px;
	line-height: 32px;
	font-weight: 500;
}
.post .post-text, .post .post-text a {
	font-family: 'Poppins', sans-serif;
	color: #585858;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
}
.post .post-user .post-user-avatar {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	overflow: hidden;
}
.post .post-user .post-user-avatar img {
	max-width: 100%;
}
.post .post-user .post-user-username {
	font-family: 'Poppins', sans-serif;
	color: #383838;
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
}
.post .post-user .post-user-time {
	font-family: 'Poppins', sans-serif;
	color: #585858;
	font-size: 12px;
	line-height: 12px;
	font-weight: 300;
}
.post .post-thank .post-thank-icon {
	display: inline-block;
	vertical-align: middle;
	background-color: #005ff4;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	cursor: pointer;
}
.post .post-thank .post-thank-icon.thanks-btn.subiect-thanked {
	background-color: #ea6153;
}
.post .post-thank .post-thank-icon span {
	color: #fff;
	font-size: 16px;
	line-height: 16px;
}
.post .post-thank .post-thank-text {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Poppins', sans-serif;
	color: #585858;
	font-size: 12px;
	line-height: 12px;
	font-weight: 300;
}
.post .post-report .post-report-icon {
	display: inline-block;
	vertical-align: middle;
	background-color: #f1f1f1;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	cursor: pointer;
}
.post .post-report .post-report-icon span {
	color: #888;
	font-size: 16px;
	line-height: 16px;
}
.post .post-report .post-report-text {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Poppins', sans-serif;
	color: #585858;
	font-size: 12px;
	line-height: 12px;
	font-weight: 300;
}
.post-image {
	width: 100%;
}
.post-image img {
	max-width: 100%;
}



/* User */
.user-container {
	padding-left: 100px;
	padding-right: 100px;
}
.user-profile {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}
.user-profile img {
	max-width: 100%;
}
.user-username {
	font-family: 'Poppins', sans-serif;
	font-size: 19px;
	line-height: 29px;
	font-weight: 500;
}
.user-text {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
}
.user-badge-wrapper span {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
}
.user-badge {
	background-color: #005ff4;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	line-height: 13px;
	font-weight: 500;
	display: inline-block;
	padding: 5px 10px;
}
.user-rank .user-badge {
	background-color: #ea6153;
	font-size: 11px;
  line-height: 11px;
	vertical-align: top;
  margin-top: 3px;
}
.user-subiect .user-subiect-image {
	width: 100%;
}
.user-subiect .user-subiect-image img {
	max-width: 100%;
}
.user-subiect .user-subiect-title {
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 27px;
	font-weight: 500;
	color: #383838;
}



/* Alerts */
.alert {
	position: fixed;
	right: -500px;
	bottom: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px #ddd;
	z-index: 9999;
	opacity: 0;
}
.alert-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #e5effd;
	display: inline-block;
	vertical-align: middle;
}
.alert-icon span {
	color: #005ff4;
	font-size: 18px;
	line-height: 18px;
}
.alert-text {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	display: inline-block;
	vertical-align: middle;
}



/* Responsive */
@media (max-width: 575.98px) {
	.navbar-c-mobile-button span {
		color: #585858;
		font-size: 22px;
		line-height: 22px;
		display: block;
		cursor: pointer;
	}
	.navbar-c-mobile-links {
		display: none;
		background-color: #fff;
		position: absolute;
		width: 100%;
		top: 50px;
		left: 0px;
		z-index: 9999;
		border-bottom: 1px solid #ebedf5;
	}
	.navbar-c-mobile-links a {
		display: block;
	}
	.navbar-c-mobile-links a span {
		font-family: 'Poppins', sans-serif;
		color: #585858;
		font-size: 13px;
		line-height: 23px;
		font-weight: 300;
	}
	.navbar-c-mobile-links a span.highlight {
		color: #005ff4;
	}
	.section {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.line-divider.line-divider-margin-right {
		margin-right: auto;
		left: 0px;
		width: 100%;
	}
	.box.box-margin {
		margin-left: auto;
		right: 0px;
		width: 100%;
	}
	.box.box-margin-right {
		margin-right: auto;
		left: 0px;
		width: 100%;
	}
	.box .box-title {
		font-size: 17px;
		line-height: 27px;
	}
	.box .box-text {
		font-size: 13px;
		line-height: 23px;
	}
	.btn {
		font-size: 12px;
		line-height: 12px;
		padding: 12px 18px;
	}
	.post .post-title, .post .post-title a {
    font-size: 18px;
    line-height: 28px;
	}
	.post .post-text, .post .post-text a {
    font-size: 13px;
    line-height: 23px;
	}
	.post .post-user .post-user-username {
    font-size: 13px;
    line-height: 13px;
	}
	.post .post-user .post-user-time {
    font-size: 11px;
    line-height: 11px;
	}
	.form {
		height: auto;
	}
	.form .form-title {
		font-size: 26px;
		line-height: 36px;
	}
	.form .form-text {
		font-size: 13px;
		line-height: 23px;
	}
	.user-container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.user-profile {
		width: 64px;
		height: 64px;
	}
	.user-username {
		font-size: 17px;
		line-height: 27px;
	}
	.user-text {
		font-size: 13px;
		line-height: 23px;
	}
	.alert {
		width: calc(100% - 40px);
		right: 20px;
	}
	.alert-text {
		font-size: 13px;
		line-height: 23px;
	}
}
